*.pyc
__pycache__/
*.env
*.safetensors
**/serviceAccountKey.json
Development/userlogin/node_modules
Production/node_modules
*.pem
Production/venv/
*.out
**/venv/
Development/crawler/crawling-pantai/twit/cookies.json
Development/crawler/crawling-pantai/ig/session-parktaekun6
Development/crawler/crawling-pantai/ig/ighashtagscraper/config.json
