MachineLearning/machine-learning-main/
MachineLearning/news-classification-main/
*.pyc
__pycache__/
*.env
MachineLearning/LLM/Development/data/data.csv
MachineLearning/LLM/Development/data/data_cleaned.parquet.gzip
MachineLearning/LLM/Development/data/data_tsne.parquet.gzip
MachineLearning/LLM/Development/data/embeddings.npy
