:root {
  --accent: #ff6f61; /* Warna untuk right */
  --accent-2: #f0f0f0a6; /* Warna untuk center */
  --accent-3: #8b2b04; /* Warna untuk left */
  --text: #000000;
  --text-hover: var(--accent);
  --text-active: #ffffff;
  --border-width: 0.125em;
  --divider-color: #ff6e613e; /* Warna garis pemisah */
}

.toggle-container{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 1em;
  padding: 10px 0;
}

.summary {
  margin-top: 20px;  /* Memberikan jarak antara toggle dan summary */
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

/* Base Styles */
.hiddenToggles {
  position: relative;
  border-radius: 1em;
  border: var(--border-width) solid var(--accent);
  overflow: hidden;
  height: 2.75em;
  width: 20em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

.hiddenToggles__input {
  display: none;
}

.hiddenToggles__label {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease-out;
  color: var(--text);
  height: 100%;
  width: 33.3%;
  text-align: center;
  padding: 0;
}

.hiddenToggles__label:not(:last-child) {
  border-right: var(--border-width) solid var(--divider-color); /* Garis vertikal */
}

/* Active States */
.leftActive {
  background-color: var(--accent-3);
  color: var(--text-active);
}

.centerActive {
  background-color: var(--accent-3);
  color: var(--text-active);
}

.rightActive {
  background-color: var(--accent-3);
  color: var(--text-active);
}





/* Hover Effect */
.hiddenToggles__label:hover {
  color: var(--text-hover);
}
