beautifulsoup4
contractions==0.1.73
Flask
flask_cors
Flask_MySQLdb
googletrans_py==4.0.0
joblib==1.4.2
keras
llama_index
mysql_connector_repackaged
nest_asyncio
networkx
numpy
pandas
python-dotenv
Sastrawi
scikit_learn
simpletransformers
swifter
tensorflow
yfinance==0.2.54
torch